<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/w3.css">
    <title>404</title>
</head>
<body>
    <% include navbar %>
    There is not such a page <%= url %>
</body>
</html>