<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/w3.css">
    <title>Account</title>
</head>
<body>
    <% include navbar %>

    <div class="w3-container">
        <div class="w3-panel w3-border w3-grey w3-round-large">
            <p>Logged as: <%= user.nick %></p>
        </div>
        <div class="w3-panel w3-border w3-grey w3-round-large">
            <p>Password: <%= user.pwd %></p>
        </div>
    </div>
</body>
</html>