<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/w3.css">
    <title>Payment</title>
</head>
<body>
    <% include navbar %>
    <form name="payment" method="post">
    Credit card number: <input type="text" name="ccn" value="5555555555554444" readonly><br>
    Address: <input type="text" name="addr" value="II UWR JL 15 50-383 WR" readonly><br>
    <input type="submit" value="Pay">
    </form>
</body>
</html>