<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/w3.css">
    <title>Register</title>
</head>
<body>
    <% include navbar %>

    <form name="add" method="post" class="w3-container"">
        <label>Nick</label>
        <input class="w3-input" type="text" name="nick"><br>
        <label>Password</label>
        <input class="w3-input" type="password" name="pwd"><br>
        <input type="submit" value="Register">
    </form>

</body>
</html>