<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/w3.css">
    <title>Search</title>
</head>
<body>
    <% include navbar %>
    <div id="items">
        <h3> Results of searching "<%= query %>": </h3>
        <% if(items) { %>
            <% items.forEach( item => { %>
                <% include thumb %>
            <% }) %>
        <% } else { %>
            Nothing has been found.
        <% } %>
    </div>
</body>
</html>