<div class="w3-col s4 w3-center">
</p>
    <img src="<%= item.img %>" class="w3-round-xlarge" style="width:80%; height:200px;"><br>
    <a href="/item?id=<%= item._id %>"> <%= item.name %> </a> : <%= item.price %> $
</p>
</div>
